.legend{
    text-align:center;
    padding:10px;
    border:5px solid black;
    font-weight: bold;
}
h1{
    text-align:center;
    font-size:50px;
     text-shadow:2px 2px 3px black;
}
.form{
  margin-left:60px;
  font-weight: bold;
  padding:20px;
}
.parent{
    min-width:200px;
    max-width:500px;
    margin:auto;
    border:3px solid black;
    box-shadow:5px 5px 4px black;
}
.btn{
    margin-left:100px;
      box-shadow:3px 3px 4px black;
       border:3px solid black;
        font-weight: bold;
}
}
textarea{
    width:200px;
    height:100px;
}
